{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'about.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="/">home</a>
        <a href="/about">self-introduction</a>
    </div>
    <div class="main">
        <p>Thank you for watching my first website!<br>
            I have learnd Python by myself.<br>
            From now on, I want to acquire practical skills.
        </p>
        <footer>made by H.K</footer>
    </div>
</body>
</html>
