{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="/">home</a>
        <a href="/about">self-introduction</a>
    </div>
    <div class="main_doc">
        <h1>Hello World!</h1>
        <h2>This is Django Test</h2>
        <p>now {% now "Y-m-d H:i" %}</p>
        <footer>Made by H.K</footer>
    </div>
</body>
</html>